*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
  font-family: 'Helvetica';
  src:  url('../fonts/Helvetica.ttf') format('truetype');
    font-style:normal;
    font-weight:normal;
}

@font-face {
  font-family: 'Gotham';
  src: url(../fonts/Gotham-Book_Web_woff2.woff2) format('woff2');
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}




html {
  scroll-behavior: smooth;
}

video{
    cursor:pointer;
}


#home_system .fp-tableCell{
    vertical-align:middle;
}

.home_theater  .fp-tableCell{
        vertical-align: bottom;
}
#fp-nav ul li{
    width:75px!important;
    height:75px!important;
    background-image:url("./images/HAicons-09.png")!important;
}

#fp-nav ul li:nth-child(3) span:nth-child(2){
    width:65px!important;
    height:65px!important;
    background-image:url("../images/icon1.svg")!important;
    background-size: cover;
    background-position: center;
    left: 0%!important;
    top: 0%!important;
    background-color: transparent;
}

#fp-nav ul li:nth-child(4) span:nth-child(2){
    width:65px!important;
    height:65px!important;
    background-image:url("../images/icon2.svg")!important;
    background-size: cover;
    background-position: center;
    left: 0%!important;
    top: 0%!important;
    background-color: transparent;
}

#fp-nav ul li:nth-child(5) span:nth-child(2){
    width:65px!important;
    height:65px!important;
    background-image:url("../images/icon3.svg")!important;
    background-size: cover;
    background-position: center;
    left: 0%!important;
    top: 0%!important;
    background-color: transparent;
}

#fp-nav ul li:nth-child(6) span:nth-child(2){
    width:65px!important;
    height:65px!important;
    background-image:url("../images/icon4.svg")!important;
    background-size: cover;
    background-position: center;
    left: 0%!important;
    top: 0%!important;
    background-color: transparent;
}
#fp-nav ul li:nth-child(7) span:nth-child(2){
    width:65px!important;
    height:65px!important;
    background-image:url("../images/icon5.svg")!important;
    background-size: cover;
    background-position: center;
    left: 0%!important;
    top: 0%!important;
    background-color: transparent;
}
#fp-nav ul li:nth-child(8) span:nth-child(2){
    width:65px!important;
    height:65px!important;
    background-image:url("../images/icon6.svg")!important;
    background-size: cover;
    background-position: center;
    left: 0%!important;
    top: 0%!important;
    background-color: transparent;
}
#fp-nav ul li:nth-child(9) span:nth-child(2){
    width:65px!important;
    height:65px!important;
    background-image:url("../images/icon7.svg")!important;
    background-size: cover;
    background-position: center;
    left: 0%!important;
    top: 0%!important;
    background-color: transparent;
}
#fp-nav ul li:nth-child(10) span:nth-child(2){
    width:65px!important;
    height:65px!important;
    background-image:url("../images/wirefinal.svg")!important;
    background-size: cover;
    background-position: center;
    left: 0%!important;
    top: 0%!important;
    background-color: transparent;
}


#fp-nav ul{
    position:relative;
    top: 0px;
}

.fp-nav ul li:nth-child(13){
    display:none!important;
}

.fp-sr-only{
    display:none;
}



#fp-nav ul li:nth-child(3) .fp-sr-only{
    background-image:url("./images/HAicons-09.png")
}

#fp-nav.fp-right{
    right:30px!important;
}




#fp-nav ul li:nth-child(1) span:nth-child(2),
#fp-nav ul li:nth-child(1),
#fp-nav ul li:nth-child(2) span:nth-child(2),
#fp-nav ul li:nth-child(2),
#fp-nav ul li:nth-child(11) span:nth-child(2),
#fp-nav ul li:nth-child(11),
#fp-nav ul li:nth-child(12) span:nth-child(2),
#fp-nav ul li:nth-child(12),
#fp-nav ul li:nth-child(13) span:nth-child(2),
#fp-nav ul li:nth-child(13){
    display:none!important;
}
#fp-nav ul li{
    margin-top:30px!important;
}

#fp-nav ul{
    height:87vh;
    overflow:scroll;
}
#fp-nav ul::-webkit-scrollbar,
#fp-nav ul::-moz-scrollbar{
display: none;
}

.sidebar{
    display:none;
}

#fp-nav ul::-webkit-scrollbar{
    display: none;
}


#fp-nav ul {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.sidebar {
    overflow: scroll;
    height: 100vh;
}

/*video player popup*/


/*.carousel-control-prev-icon{*/
/*    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")*/
/*}*/
#home_theater .carousel-control-prev-icon,
#wiring .carousel-control-prev-icon,
.slider .carousel-control-prev-icon{
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

#home_theater .carousel-control-next-icon,
#wiring .carousel-control-next-icon,
.slider .carousel-control-next-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* sidebar */

.sidebar{
    right: 1%;
    top:5%;
}
.sidebar ul li{
    list-style: none;
    margin: 25px 0px;
   }
.sidebar img{
    width: 90px;
    height: 90px;
}
.container{
    max-width: 85vw!important;
    margin: auto;
}

header{
    z-index: 999999;
}

/* .header_container{
    width: 85vw;
    margin: auto;
} */

/*#home_system,*/
/*#guest_room,*/
/*#lighting,*/
/*#audio_video,*/
/*#home_theater,*/
/*#smart_door,*/
/*#cctv,*/
/*#wiring{*/
/*    min-height: 100vh;*/
/*}*/


.brand_logo{
    width: 150px;
    height: auto;
    margin-bottom:10px;
}

.header_top{
    width: 100%;
    height: 35px;
    background-color: #861b3d;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
    display: inline-block;
    background-size: 100% 100%;
    height: 50px !important;
    width: 50px !important;
}

.header_container {
    padding: 20px 0px 0px 0px;
}

.header_container > .row{
    /*align-items: flex-end;*/
    align-items:center;
}

.right_header h3{
    text-align: right;
    /*margin-right:4rem;*/
    font-family: Helvetica;
    font-weight: 400;
    font-size:1.6rem;
    color:#3A3A3A;
}


.services{
    padding-top: 0rem;
}

.service_head h3{
    color: #fff;
    text-align: center;
    padding: 10px;
    background-color: #861b3d;
    position: relative;
    top: 20px;
    text-transform:  capitalize;
    font-family:Helvetica;
    font-weight: 400;
}
.section_2_bg{
    position: relative;
}
.section_2_bg::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("../images/servbg.png");
    background-size: cover;
    background-position:center;
}

.all_services,
.service_head{
    position: relative;
}

.service-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: auto;
    grid-gap: 40px;
    padding: 5% 0px 5% 0px;
    justify-content: center;
}
.service-list a{
    text-align:center;
}
.service-list a:hover{
    text-decoration: none;
}

img.serv_list{
    width:175px;
    height:175px;
    box-shadow: 8px 8px 20px -2px #000;
}
 
/* sec 3 */

.vedio_container > video{
    width: 100%;
    height: 409px;
    object-fit: cover;
}
.bottom_video_list{
    margin-top: 1rem;
}
.video_list video{
    width: 100%;
}

.video_list{
    cursor: pointer;
}

.video_item_main{
    display: none;
}

.active_video{
    display: block;
}

.home_system{
    padding-top:0rem;
}

.home_system .head_wrapper,
.guest_room .head_wrapper,
.lighting .head_wrapper,
.audio_video .head_wrapper,
.smart_door .head_wrapper{
    position: relative;
    display: flex;
    align-items: center;
}

.head_wrapper img{
    width:200px;
    z-index:1;
}

.round_service{
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 300px;
    height: 275px;
    background: #2c2573;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    box-shadow: 12px 14px 25px -1px #000;
    border-radius: 50%;
    z-index: 1;
}

.round_service i{
    font-size: 2rem;
}
.round_service h3{
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: center; 
    line-height: 1.5;
    font-family:Helvetica;
    font-weight: 400;
}
.head_wrapper > .row{
width: 100%;
background-color: #d9d6d4;
margin-right: 0;
}

.home_system_right_head{
    padding: 8px 0px 0px 0px!important;
}


.home_system_right_head h4{
    /* padding-left: 5rem; */
    color: #2c2573;
    text-align: center;
    padding: 6px;
   
    font-family: Helvetica;
    text-transform:capitalize;
}
#home_theater .round_service
.home_system_main{
    padding-top: 3rem;
}

.home_system_main_left{
    padding: 20px 35px 25px 35px;
    background-color: #3A3A3A;
}

.home_system_main_left p{
    color: #fff;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    font-family:'Gotham', Arial, sans-serif;
}

/* .guest_room .round_service{
    padding: 50px 50px;
} */

.guest_room_wrapper,
.guest_room_main{
    padding-top: 1rem;
}

.guest_room_main .col-lg-3 p{
    font-size: 16px;
    font-weight: 500;
    font-family:'Gotham', Arial, sans-serif;
    color:#3A3A3A;
    line-height:22px;
}

/* .guest_room_wrapper .round_service{
    padding: 60px 60px;
} */
/* 
.lighting .round_service{
    padding:50px 50px;
} */

.lighting_wrapper{
    padding-top: 0rem;
}

.lighting_wrapper .head_wrapper{
    align-items: start;
}

.lighting_wrapper .head_wrapper > .row{
background: none;
}

.home_system_right_head video{
    width: 100%;
    position: relative;
    height: 500px;
}



.bottom_title h4{
    text-align: center;
    background: #d9d6d4;
    padding: 12px;
    color: #2c2573;
    font-family:Helvetica;
    text-transform:uppercase;
}

/* .audio_video_wrapper, */
.audio_video_main{
    padding-top: 3rem;
}

.audio_video_box img{
    width: 100%;
}
.audio_video_box h5{
    color:#3A3A3A;
    font-family:'Gotham', Arial, sans-serif;
}

.audio_video_box h4{
    margin-top: 1rem;
    font-family:Helvetica;
    color:#3A3A3A;
    margin-bottom:0px;
}

.logo_box_container{
    padding-top: 3rem;
}

.logo_list li{
    list-style: none;
    text-align: left;
    /*border: 1px solid #000;*/
    /*padding: 28px 20px;*/
    margin:10px 0;
    font-family:'Gotham', Arial, sans-serif;
}

.logo_list img{
    width: 250px;
    height: 85px;
    object-fit: cover;
    border: 1px solid #000;
    padding:15px;
}

.home_theater_wrapper{
    padding-top: 3rem;
}

.home_theater_wrapper .bottom_title h4{
    color: #2c2573;
}

#home_theater .round_service,
.cctv .round_service,
.wiring .round_service{
    width: 275px;
}

/* .home_theater .round_service{
    padding:75px 50px;
} */

.smart_door_wrapper{
    padding-top: 0rem;
}

.smart_door_wrapper .home_system_right_head h4{
    color: #2c2573;
    text-transform:capitalize;
}

.smart_door_box img{
    width: 90%;
}

.smart_door_boxs,
.smart_door_wrapper .bottom_text{  
    margin-top: 1rem;
}

/*.Smart_Door{*/
/*    min-height: 100vh;*/
/*}*/

.Smart_Door_wrapper {
    padding-top: 3rem;
} 
/* .smart_door_wrapper .round_service{
    padding: 60px 60px;
} */

.cicle_bottom{
    margin-top: 2rem;
    bottom: 0;
}

.cicle_bottom p{
    font-weight: 500;
    font-size: 16px;
    font-family:'Gotham', Arial, sans-serif;
    color:#3A3A3A;
    line-height:22px;
}

.Smart_Door_right img{
    width: 100%;
    height: 100%;
    padding:3rem;
}
.Smart_Door_wrapper .bottom_title_wrapper{
    padding-top: 3rem;
}

.lighting .bottom_title_wrapper{
    margin-top:1.5rem;
}

.wiring  .bottom_title_wrapper{
    padding-top: 1rem;
}

.cctv .bottom_title_wrapper{
    padding-top: 1rem;
}

/* .wiring .round_service{
    padding: 70px 50px;
} */

/* .cctv .round_service{
    padding: 80px 50px;
} */

.container-fluid{
    padding: 0px!important;
}
.parter_heading{
    text-align: center;
    padding: 10px;
    background-color: #861b3d;
    color: #fff;
    text-transform: uppercase;
    margin-top: 3rem;
    font-family:Helvetica;
}


.parter_sec_bg::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/servbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.parter-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: auto;
    grid-gap: 30px;
    padding: 10% 0px 10% 0px;
    justify-content: center;
}

.parter_1{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parter_1 img{
    width:200px;
}

/*footer{*/
/*    padding-top: 3rem;*/
/*}*/

footer iframe{
    width: 100%;
    
}

.contact_details{
    background-color: #393636;
    padding: 2rem;
}

.contact_details h4,
.contact_details p,
.contact_details address
{
    color: #fff;
    text-align: left
    font-family:'Gotham', Arial, sans-serif;
}

element.style {
}
.contact_details h4{
    font-family:Helvetica;
    font-size:28px;
}
.tel_number{
    color: #fff;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.tel_number span{
    font-family:'Gotham', Arial, sans-serif;
    font-size:20px;
}

.bottom_line{
    width: 100%;
    height: 20px;
    background-color: #861b3d;
}

.door_access{
    margin-top: 1rem;
}

.door_access h4{
    font-weight: 500;
    font-size: 28px;
   
    color:#3A3A3A;
        text-align: center;
    padding: 0px 1.6rem;

}

.door_access p{
    font-weight: 500;
    font-size: 16px;
    font-family:'Gotham', Arial, sans-serif;
    color:#3A3A3A;
    line-height:22px;
}

.fp-tableCell{
    height: 0!important;
}

.sidebar{
    z-index: 9999;
}

.owl-nav{
    display: none;
}
.owl-dots {
    text-align: center;
}
.owl-carousel button.owl-dot{
    width: 20px;
    height: 20px;
    border: 2px solid #000!important;
    border-radius: 50%;
    margin: 20px;
}

.owl-carousel .item img{
    height: 365px;
}


#carouselExampleIndicators2 .carousel-item img{
    height: 550px;
}



#carouselExampleIndicators2 .carousel-control-next,
#carouselExampleIndicators2 .carousel-control-prev{
top: none;
bottom: 50px;
top:auto;
}

.fp-tableCell{
    height:100%;
    vertical-align:middle;
}

/*.section{*/
/*    min-height:100vh;*/
/*}*/
.section{
    display:flex;
    justify-content:center;
    align-items:center;
}

.slider {
    display:block;
}

#wiring .Smart_Door_right img{
    width: 50%!important;
    margin: 0px auto;
}

/*#fp-nav {*/
/*    position:relative;*/
/*}*/
#fp-nav ulP{
    transition:ease;
}

.chev_up{
        position: absolute;
    top: -20px;
    left: 22px;
    font-size: 25px;
    cursor:pointer
}
.chev_down{
    position: absolute;
    left: 25px;
    font-size: 25px;
    cursor:pointer
}

footer .contact_details{
    height: 650px;
    /* align-self: unset; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.modal-dialog{
    max-width:700px!important;
}

.modal_video{
    width:100%;
}
.modal-body iframe{
    height: 100%;
    width: 100%;
    min-height:400px;
}

.social_icons{
    margin-top:1.5rem;
}

.social_icons a{
    padding:0px 1rem;
}
.social_icons i{
    color: #fff;
    font-size: 1.5rem;
}

.audio_video_box h4,
    .audio_video_box h5{
        text-align: center;
    }

#cctv .cicle_bottom,
#wiring .cicle_bottom{
    text-align:center;
}
.cicle_bottom h3{
    font-size:18px;
}

.contact_details p,
.mail-info p{
    margin:0px;
    font-size:20px;
    line-height:1.5;
}

.mail-info{
    margin-top:2rem;
}

.mail-info p a{
    color:#fff;
}
.footer_logo {
    width:100%;
    text-align:center;
    margin-bottom:3rem;
}

.footer_logo img{
    width:220px;
}

.home_system_right_head > iframe{
    width:660px;
   height:500px;
  }

.owl-dot.active{
    background-color:#861b3d!important;
}

.top_bar{
    display: FLEX;
    align-items: center;
    justify-content: flex-end;
    padding-top:5px;
}
.top_bar a i{
        color: #fff;
    font-size: 25px;
    margin:0px 12px;
}

.top_bar a:nth-child(2) i{
    margin-right:25px;
    background:red;
}

.right_header a{
    text-decoration:none;
    color:#2c2573;
}

.Major_list{
    background-color:#3A3A3A;
        padding: 2rem;
    min-height: 575px;
}

.Major_content ul li{
    color: #fff;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Gotham', Arial, sans-serif;
    line-height: 1.4;
}

.Major_content ul{
        padding: 20px 20px 0px;
        margin-bottom:0px;
}

.Major_tabs{
    padding:1rem 0px;
}
.nav-link.active{
    color: #fff;
    background-color: transparent!important;
    border: 1px solid #fff;
    border-radius:0px!important;
}
.nav-link{
    color:#fff!important;
}
.add_tabs{
    background-color:#3A3A3A;
    padding: 1.4rem;
}

.sideimg_container img{
    width:100%;
}

.fp-nav ul li:nth-child(13){
    display:none;
}




@media screen and (min-width:1901px) and (max-width:1921px){
    
    .vedio_container > video{
        height: 225px;
    }
    
    .home_system_main_left ul li{
        margin-bottom:10px;
    }
}

@media screen and (min-width:1439px) and (max-width:1900px){
    
    .home_system_main_left ul li{
        margin-bottom: 0px;
        font-size: 20px;

    }
    .vedio_container > video{
        height: 287px;
    }
}

/*@media screen and ( max-width:1600px){*/
    
/*    .home_system_main_left ul li{*/
/*        margin-bottom: 15px;*/
/*        font-size: 18px;*/

/*    }*/
/*    .vedio_container > video{*/
/*        height: 409px;*/
/*    }*/
/*}*/

@media screen and (max-width:1400px){
    
    .right_header h3{
        font-size:22px;
    }
    
    .home_system{
    padding-top: 0rem;
}
    .service-list{
        grid-template-columns: repeat(4, 1fr);
    }
    .vedio_container > video{
        height: 250px;
    }
    .lighting_wrapper .head_wrapper {
        align-items: center;
    }

    .home_theater_wrapper .head_wrapper .round_service{
        width: 100%;
    }
    /*.home_theater_wrapper{*/
    /*    padding-top: 3rem;*/
    /*}*/
    .home_theater_wrapper{
    padding-top: 0rem;
    }
    #home_theater .bottom_title h4{
            margin-top: 1rem;
    }
    
    .parter_heading{
            margin-top: 0rem;
    }

    .sidebar ul li{
        padding: 15px;
        
    }
    .home_system_right_head video{
        height: 100%;
    }
    
    .sidebar{
        top:4%;
    }
    .sidebar ul li{
    list-style: none;
    margin: 0px 0px;
    padding:5px;
   }
   .sidebar img {
    width: 95px;
    height: 95px;
    }
    .bottom_video_list{
        margin-top: 1.5rem;
    }
    
    /*#carouselExampleIndicators2{*/
    /*    width:95%!important;*/
    /*    margin-left:auto;*/
    /*}*/
    .head_wrapper img{
        width:200px;
    }
    
    #carouselExampleIndicators2 .carousel-item img{
           height: 500px;
    }
    
    .logo_list img{
            width: 260px;
        height: 85px;
    }
    
    .smart_door_box img{
        width: 82%;
    }
    
    #fp-nav ul li{
        margin-top: 20px!important;
    }
    
    /*#wiring .Smart_Door_right img{*/
    /*    height:500px;*/
    /*}*/
    
    footer iframe{
        height: 600px;
    }
    footer .contact_details{
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    
    .owl-carousel .item img {
        height: auto;
    }
    
    #cctv .head_wrapper{
        margin: -45px 0rem;
    }
    .Major_list{
        padding: 1rem;
   }
   .footer_sec{
       margin-top:2rem;
   }
}

@media screen and (max-width:1200px){
    
    .service-list{
        grid-template-columns: repeat(3, 1fr);
    }
    .home_system_main> .row{
        display: flex;
        align-items: center;
    }

    .home_theater_wrapper .head_wrapper .round_service{
        height: 225px;
    }

    .round_service{
        width: 250px;
        height: 225px;
    }

    .parter-list{
        grid-template-columns: repeat(3, 1fr);
    }
    .slider .carousel-item img{
        min-height: 80vh;
    }
    #carouselExampleIndicators2 .carousel-item img{
        height:450px;
    }
    
    
    .home_system{
        padding-top: 3rem;
    }
    #smart_door{
        margin-top:5rem;
    }
    #carouselExampleIndicators2{
        float:none;
        width:85%!important;
            margin-left: auto;
    }
    .smart_door_box img{
        width:100%;
    }
    
    .head_wrapper img{
        width:230px;
    }
    /*.Smart_Door_right img {*/
    /*    width: 100%;*/
    /*    height: 450px;*/
    /* }*/
     
     .bottom_title h4,
     .home_system_right_head h4{
         font-size:1.1rem;
     }
     .right_header h3{
         margin-right:0px;
         font-size: 24px!important;
     }
     
     #services .service_wrapper{
         margin-top: 4rem;
     }
     .home_system_right_head > iframe{
         max-width:100%;
     }
     .sideimg_container{
        width:100%;
        text-align:center;
        margin:3rem 0px;
    }
    .Major_Projects {
        margin-top:2rem;
    }
     
}

@media screen and (max-width:1024px){
    .service-list{
        grid-template-columns: repeat(2, 1fr);
    }

    .home_system_right_head video{
        min-height: 425px;
        object-fit: cover;
    }
    .audio_video_wrapper{
        padding-top: 0rem;
    }
    .slider .carousel-item img{
        min-height: 40vh;
    }
    /*#wiring .head_wrapper img{*/
    /*    position:relative;*/
    /*    bottom:11rem;*/
    /*height:100%;*/
    /*}*/
     #services .service_wrapper{
     margin-top: 0rem;
 }
  #wiring .Smart_Door_right img {
    width: 100%;
    height: 100%;
 }
 
 .home_theater_wrapper{
     padding-top: 0rem;
 }
 
 /*#parter{*/
 /*        margin-top: -7rem;*/
 /*}*/
 
 .right_header h3{
        font-size: 20px!important;
    }
    .cicle_bottom{
        position:static!important;
    }
    
    .sideimg_container{
        width:100%;
        text-align:center;
        margin:3rem 0px;
    }
    
    .add_tabs{
        flex-direction: column-reverse;
    }
    
    .add_tabs .footer_maps,
    .add_tabs .footer_adds{
        max-width:100%;
    }
    .sideimg_container img{
        width:auto;
    }
    
    .Major_content{
        flex: 1 0 50%!important;;
        max-width: 100%!important;
    }

}

@media screen and (max-width: 768px){
    
    .lighting_wrapper .head_wrapper{
        display: flex;
        flex-direction: column;
    }
    .home_system_right_head video{
        bottom: 0px;
    }
    .bottom_title_wrapper{
        padding-right: 15px;
    padding-left: 15px;
     text-transform: capitalize;
    }

    .lighting  .bottom_title{
        position: relative;
        left: -7px;
    }

    .parter-list{
        grid-template-columns: repeat(2, 1fr);
    }

    .row h4{
        font-size: 20px;
    }

   .lighting .round_service{
       margin-bottom: 1rem;
   }

   .home_theater_wrapper .col-lg-3{
       display: flex!important;
       margin-bottom: 2rem!important;
       align-items:center;
   }

   .home_theater_wrapper .row .logo_box_container{
       width: 70%;
   }

   .logo_list{
       display: flex;
       justify-content: space-around;
   }

    .cctv  .cicle_bottom,
    .wiring .cicle_bottom{
        position: relative!important;
        padding-left: 20px;
    }
    .wiring .col-lg-4{
        display: flex;
        margin-bottom: 2rem;
    }
    .wiring .col-lg-4{
        display: block;
    }
    .right_header h3{
        font-size: 14px!important;
    }
     .slider .carousel-item img{
        min-height: 45vh;
    }
    .sidebar{
        right:0;
    }
    
    .logo_list{
        flex-direction:column;
        align-items:center;
    }
    
    .wiring .head_wrapper{
        text-align:center;
    }
    #carouselExampleIndicators2{
        width:100%!important;
    }
    /*.home_theater_wrapper{*/
    /*    padding-top:5rem;*/
    /*}*/
  
    .section_2_bg{
        margin-top:3rem;
    }
    #guest_room .container{
        padding-top:3rem;
    }
    
    /*.smart_door_wrapper{*/
    /*    padding-top: 10rem;*/
    /*}*/
    
    #cctv .head_wrapper{
        text-align:center;
    }
    
    .Smart_Door_right img{
        height:430px;
    }
    .parter_heading,
    .service_head h3{
        font-size:24px;
    }
    .row h4{
        font-size:18px;
    }
    
    .home_system_main_left{
            margin-bottom: 2rem;
    }
    
    .home_system_main > .row > .col-lg-7{
        padding:0px;
    }
    
    #wiring .head_wrapper img{
        bottom: 0rem;
    }
    
    #wiring .head_wrapper{
        margin-top: 5rem;
    }
    /*.parter_heading{*/
    /*    margin-top: 5rem;*/
    /*}*/
    
     #parter{
         margin-top: 0rem;
    }
    
    footer iframe{
        height:425px;
    }
    
    .footer_wrapper .col-md-8,
    .parter_container .col-md-12 {
        padding: 0px;
    }
    .footer_sec{
        margin-top:2rem;
    }
    #audio_video .audio_video_main_wrapper > .row{
        display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    }
    #audio_video .audio_video_main_wrapper > .row .audio_video_box{
        max-width:100%;
        text-align:center;
        justify-self: center;
    }
    .footer_logo img {
        width: 160px;
    }
    .contact_details p, .mail-info p,
    .tel_number span{
        font-size: 15px;
    }
    .mail-info{
        margin-top:12px;
    }
    
    .sideimg_container img{
        width:40%;
    }
    
    .footer iframe{
            height: 425px;
    }
    
}

@media screen and (max-width:767px){
    .sidebar{
        display: none;
    }
   
.service-list {
    grid-template-columns: repeat(1, 1fr);
   }
   .parter-list{
        grid-template-columns: repeat(1, 1fr);
    }
     .slider .carousel-item img{
        min-height: 25vh;
    }
    #carouselExampleIndicators2 .carousel-item img{
        height:320px;
    }
    
    .footer_logo{
        margin-bottom:1rem;
    }
}

@media screen and (max-width:426px){
    
    .top_bar{
        justify-content: center;
    }
    .top_bar a:nth-child(2) i {
        margin-right: 0px;
    }   
    .header_container .col-md-4{
        text-align:center;
    }
    .home_system_right_head > iframe{
        width:100%;
    }
    .right_header h3{
        margin-right:0px;
    }
    
    .head_wrapper img{
        width:170px;
    }
    .logo_box_container{
        padding-top:1rem;
    }
   #home_theater .head_wrapper{
       text-align:center;
   }
   
   #carouselExampleIndicators2{
       margin:0px;
   }
   .Smart_Door_right img{
       height:100%;
   }
   .cctv .cicle_bottom, .wiring .cicle_bottom{
       padding:0px;
   }
    #home_theater .round_service,
    .cctv .round_service,
    .wiring .round_service{
        width: 200px;
        height:200px;
    }

    
    .service-list{
        grid-template-columns: repeat(1, 1fr);
    }

    .parter-list{
        grid-template-columns: repeat(1, 1fr);
    }

    .container{
        max-width: 95vw!important;
        margin: auto;
    }

    .round_service{
        width: 180px;
    height: 175px;
    }

    .round_service h3{
        font-size: 16px;
    margin-top: 10px;
    text-align: center;
    line-height: normal;
    }

    .home_system_right_head h4{
        font-size: 18px;
    }

    .service_1{
        min-height: 175px;
    }
    .service_1 h3{
        text-align: center;
        margin-top: 18px;
        text-transform: capitalize;
        font-size: 20px;
    }

    .header_container .col-md-6{
        text-align: center;
    }

    .right_header h3 {
        font-size: 20px;
        text-align: center;
    }
    .home_theater_wrapper .col-lg-3{
        display: block!important;
    }

    .home_theater_wrapper .head_wrapper .round_service{
        width: 180px;
    height: 175px;
    margin: auto;
    }
    .home_theater_wrapper .row .logo_box_container{
        margin: auto;
        width: 100%;
    }
    .cctv .round_service{
        margin: auto;
    }
    .round_service{
        margin: auto;
    }
    .home_system_right_head video{
        min-height: auto;
        margin-top:5rem;
        bottom: 80px;
    }
    
    .vedio_container > video{
        height: 300px;
    }
    .audio_video_box h4,
    .audio_video_box h5{
        text-align: center;
    }
    .audio_video_box h5{
        margin-bottom: 2rem;
    }
    
    .service_head h3{
        font-size:20px;
    }
    
    /*.home_theater_wrapper{*/
    /*   padding-top: 18rem;*/
    /*}*/
    /*#smart_door .head_wrapper{*/
    /*    margin-top:8rem;*/
    /*}*/
    /*#wiring .head_wrapper{*/
    /*        margin-top: 3rem;*/
    /*}*/
    /*.parter_heading{*/
    /*        margin-top: 5rem;*/
    /*}*/
    #wiring .Smart_Door_right img{
        width:100%!important;
    }
    #wiring .head_wrapper{
        margin-top: 0rem;
    }
    footer iframe,
    footer .contact_details{
        height:400px;
    }
    .home_system_right_head > iframe{
        height:100%;
    }
    #smart_door,
    #cctv,
    #parter,
    #lighting,
    #audio_video{
            margin-top: 2rem;
    }
    .right_header h3{
        padding: 0px 42px;
    }
    
    .modal-body iframe{
        min-height:240px;
    }
    .add_tabs{
        padding:0px;
    }
    
    .footer_adds{
        padding-top:1rem;
    }
}

@media screen and (max-width: 360px){
    /*.home_theater_wrapper{*/
    /*   padding-top: 22rem;*/
    /*}*/
    #smart_door .head_wrapper{
        margin-top:10rem;
    }
    
    .slider .carousel-item img{
        min-height: 32vh;
    }
    .right_header h3{
        padding: 0px 0px;
    }
}

@media screen and (max-width:325px){
    .head_wrapper img {
      width: 125px;
    }
}
