*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
  font-family: 'Helvetica';
  src:  url('../fonts/Helvetica.ttf') format('truetype');
    font-style:normal;
    font-weight:normal;
}

@font-face {
  font-family: 'TCM';
  src: url(../fonts/TCM.TTF) format('truetype');
}


html {
  scroll-behavior: smooth;
}


#home_system .fp-tableCell{
    vertical-align:middle;
}
#fp-nav ul li{
    width:75px!important;
    height:75px!important;
    background-image:url("./images/HAicons-09.png")!important;
}

#fp-nav ul li:nth-child(3) span:nth-child(2){
    width:65px!important;
    height:65px!important;
    background-image:url("../images/HAicons-09.png")!important;
    background-size: cover;
    background-position: center;
    left: 0%!important;
    top: 0%!important;
    background-color: transparent;
}

#fp-nav ul li:nth-child(4) span:nth-child(2){
    width:65px!important;
    height:65px!important;
    background-image:url("../images/HAicons-10.png")!important;
    background-size: cover;
    background-position: center;
    left: 0%!important;
    top: 0%!important;
    background-color: transparent;
}

#fp-nav ul li:nth-child(5) span:nth-child(2){
    width:65px!important;
    height:65px!important;
    background-image:url("../images/HAicons-11.png")!important;
    background-size: cover;
    background-position: center;
    left: 0%!important;
    top: 0%!important;
    background-color: transparent;
}

#fp-nav ul li:nth-child(6) span:nth-child(2){
    width:65px!important;
    height:65px!important;
    background-image:url("../images/HAicons-12.png")!important;
    background-size: cover;
    background-position: center;
    left: 0%!important;
    top: 0%!important;
    background-color: transparent;
}
#fp-nav ul li:nth-child(7) span:nth-child(2){
    width:65px!important;
    height:65px!important;
    background-image:url("../images/HAicons-13.png")!important;
    background-size: cover;
    background-position: center;
    left: 0%!important;
    top: 0%!important;
    background-color: transparent;
}
#fp-nav ul li:nth-child(8) span:nth-child(2){
    width:65px!important;
    height:65px!important;
    background-image:url("../images/HAicons-14.png")!important;
    background-size: cover;
    background-position: center;
    left: 0%!important;
    top: 0%!important;
    background-color: transparent;
}
#fp-nav ul li:nth-child(9) span:nth-child(2){
    width:65px!important;
    height:65px!important;
    background-image:url("../images/HAicons-15.png")!important;
    background-size: cover;
    background-position: center;
    left: 0%!important;
    top: 0%!important;
    background-color: transparent;
}
#fp-nav ul li:nth-child(10) span:nth-child(2){
    width:65px!important;
    height:65px!important;
    background-image:url("../images/HAicons-16.png")!important;
    background-size: cover;
    background-position: center;
    left: 0%!important;
    top: 0%!important;
    background-color: transparent;
}


#fp-nav ul{
    position:relative;
    top: 0px;
}

.fp-sr-only{
    display:none;
}



#fp-nav ul li:nth-child(3) .fp-sr-only{
    background-image:url("./images/HAicons-09.png")
}

#fp-nav.fp-right{
    right:30px!important;
}




#fp-nav ul li:nth-child(1) span:nth-child(2),
#fp-nav ul li:nth-child(1),
#fp-nav ul li:nth-child(2) span:nth-child(2),
#fp-nav ul li:nth-child(2),
#fp-nav ul li:nth-child(11) span:nth-child(2),
#fp-nav ul li:nth-child(11),
#fp-nav ul li:nth-child(12) span:nth-child(2),
#fp-nav ul li:nth-child(12){
    display:none!important;
}
#fp-nav ul li{
    margin-top:30px!important;
}

#fp-nav ul{
    height:100vh;
    overflow:scroll;
}
#fp-nav ul::-webkit-scrollbar {
display: none;
}

.sidebar{
    display:none;
}


.sidebar::-webkit-scrollbar {
display: none;
}


.sidebar {
    overflow: scroll;
    height: 100vh;
}



/*.carousel-control-prev-icon{*/
/*    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")*/
/*}*/
#home_theater .carousel-control-prev-icon,
#wiring .carousel-control-prev-icon{
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

#home_theater .carousel-control-next-icon,
#wiring .carousel-control-next-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* sidebar */

.sidebar{
    right: 1%;
    top:5%;
}
.sidebar ul li{
    list-style: none;
    margin: 25px 0px;
   }
.sidebar img{
    width: 90px;
    height: 90px;
}
.container{
    max-width: 85vw!important;
    margin: auto;
}

header{
    z-index: 999999;
}

/* .header_container{
    width: 85vw;
    margin: auto;
} */

/*#home_system,*/
/*#guest_room,*/
/*#lighting,*/
/*#audio_video,*/
/*#home_theater,*/
/*#smart_door,*/
/*#cctv,*/
/*#wiring{*/
/*    min-height: 100vh;*/
/*}*/


.brand_logo{
    width: 150px;
    height: auto;
    margin-bottom:10px;
}

.header_top{
    width: 100%;
    height: 25px;
    background-color: #861b3d;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
    display: inline-block;
    background-size: 100% 100%;
    height: 50px !important;
    width: 50px !important;
}

.header_container {
    padding: 20px 0px 0px 0px;
}

.header_container > .row{
    align-items: flex-end;
}

.right_header h3{
    text-align: right;
    margin-right:4rem;
    font-family: Helvetica;
    font-weight: 400;
    color:#3A3A3A;
}


.services{
    padding-top: 0rem;
}

.service_head h3{
    color: #fff;
    text-align: center;
    padding: 10px;
    background-color: #861b3d;
    position: relative;
    top: 20px;
    text-transform: uppercase;
    font-family:Helvetica;
    font-weight: 400;
}
.section_2_bg{
    position: relative;
}
.section_2_bg::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("../images/servbg.png");
    background-size: cover;
    background-position:center;
}

.all_services,
.service_head{
    position: relative;
}

.service-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: auto;
    grid-gap: 40px;
    padding: 5% 0px 5% 0px;
    justify-content: center;
}
.service-list a{
    text-align:center;
}
.service-list a:hover{
    text-decoration: none;
}

img.serv_list{
    width:200px;
    height:200px;
    box-shadow: 8px 8px 20px -2px #000;
}
 
/* sec 3 */

.vedio_container > video{
    width: 100%;
    height: 409px;
    object-fit: cover;
}
.bottom_video_list{
    margin-top: 1rem;
}
.video_list video{
    width: 100%;
}

.video_list{
    cursor: pointer;
}

.video_item_main{
    display: none;
}

.active_video{
    display: block;
}

.home_system{
    padding-top:0rem;
}

.home_system .head_wrapper,
.guest_room .head_wrapper,
.lighting .head_wrapper,
.audio_video .head_wrapper,
.smart_door .head_wrapper{
    position: relative;
    display: flex;
    align-items: center;
}

.head_wrapper img{
    width:200px;
    z-index:1;
}

.round_service{
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 300px;
    height: 275px;
    background: #2c2573;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    box-shadow: 12px 14px 25px -1px #000;
    border-radius: 50%;
    z-index: 1;
}

.round_service i{
    font-size: 2rem;
}
.round_service h3{
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: center; 
    line-height: 1.5;
    font-family:Helvetica;
    font-weight: 400;
}
.head_wrapper > .row{
width: 100%;
background-color: #d9d6d4;
margin-right: 0;
}

.home_system_right_head{
    padding: 8px 0px 0px 0px!important;
}


.home_system_right_head h4{
    /* padding-left: 5rem; */
    color: #fff;
    text-align: center;
    padding: 6px;
    font-family: Helvetica;
    text-transform:uppercase;
}
#home_theater .round_service
.home_system_main{
    padding-top: 3rem;
}

.home_system_main_left{
    padding: 20px 35px 25px 35px;
    background-color: #3A3A3A;
}

.home_system_main_left p{
    color: #fff;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 500;
    font-family:TCM;
}

/* .guest_room .round_service{
    padding: 50px 50px;
} */

.guest_room_wrapper,
.guest_room_main{
    padding-top: 1rem;
}

.guest_room_main .col-lg-3 p{
    font-size: 18px;
    font-weight: 500;
    font-family:TCM;
    color:#3A3A3A;
    line-height:22px;
}

/* .guest_room_wrapper .round_service{
    padding: 60px 60px;
} */
/* 
.lighting .round_service{
    padding:50px 50px;
} */

.lighting_wrapper{
    padding-top: 0rem;
}

.lighting_wrapper .head_wrapper{
    align-items: start;
}

.lighting_wrapper .head_wrapper > .row{
background: none;
}

.home_system_right_head video{
    width: 100%;
    position: relative;
    bottom: -7px;
    height: 500px;
}

.lighting_wrapper .home_system_right_head{
    margin-left: auto;
}

.bottom_title h4{
    text-align: center;
    background: #d9d6d4;
    padding: 12px;
    color: #fff;
    font-family:Helvetica;
    text-transform:uppercase;
}

/* .audio_video_wrapper, */
.audio_video_main{
    padding-top: 3rem;
}

.audio_video_box img{
    width: 100%;
}
.audio_video_box h5{
    color:#3A3A3A;
    font-family:TCM;
}

.audio_video_box h4{
    margin-top: 1rem;
    font-family:Helvetica;
    color:#3A3A3A;
    margin-bottom:0px;
}

.logo_box_container{
    padding-top: 3rem;
}

.logo_list li{
    list-style: none;
    text-align: center;
    /*border: 1px solid #000;*/
    /*padding: 28px 20px;*/
    margin:10px 0;
    font-family:TCM;
}

.logo_list img{
    width: 310px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #000;
}

.home_theater_wrapper{
    padding-top: 3rem;
}

.home_theater_wrapper .bottom_title h4{
    color: #fff;
}

#home_theater .round_service,
.cctv .round_service,
.wiring .round_service{
    width: 275px;
}

/* .home_theater .round_service{
    padding:75px 50px;
} */

.smart_door_wrapper{
    padding-top: 1rem;
}

.smart_door_wrapper .home_system_right_head h4{
    color: #fff;
    text-transform:uppercase;
}

.smart_door_box img{
    width: 90%;
}

.smart_door_boxs,
.smart_door_wrapper .bottom_text{  
    margin-top: 1rem;
}

/*.Smart_Door{*/
/*    min-height: 100vh;*/
/*}*/

.Smart_Door_wrapper {
    padding-top: 3rem;
} 
/* .smart_door_wrapper .round_service{
    padding: 60px 60px;
} */

.cicle_bottom{
    margin-top: 2rem;
    bottom: 0;
}

.cicle_bottom p{
    font-weight: 500;
    font-size: 18px;
    font-family:TCM;
    color:#3A3A3A;
    line-height:22px;
}

.Smart_Door_right img{
    width: 100%;
    height: 450px;
}
.Smart_Door_wrapper .bottom_title_wrapper{
    padding-top: 3rem;
}

.wiring  .bottom_title_wrapper{
    padding-top: 1rem;
}

.cctv .bottom_title_wrapper{
    padding-top: 1rem;
}

/* .wiring .round_service{
    padding: 70px 50px;
} */

/* .cctv .round_service{
    padding: 80px 50px;
} */

.container-fluid{
    padding: 0px!important;
}
.parter_heading{
    text-align: center;
    padding: 10px;
    background-color: #861b3d;
    color: #fff;
    text-transform: uppercase;
    margin-top: 3rem;
    font-family:Helvetica;
}


.parter_sec_bg::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/servbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.parter-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: auto;
    grid-gap: 30px;
    padding: 10% 0px 10% 0px;
    justify-content: center;
}

.parter_1{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parter_1 img{
    width:230px;
}

footer{
    padding-top: 3rem;
}

footer iframe{
    width: 100%;
    height: 100%;
}

.contact_details{
    background-color: #393636;
    padding: 2rem;
}

.contact_details h4,
.contact_details p,
.contact_details address
{
    color: #fff;
    text-align: center;
    font-family:TCM;
}

element.style {
}
.contact_details h4{
    font-family:Helvetica;
}
.tel_number{
    color: #fff;
    display: flex;
    justify-content: space-around;
}
.tel_number span{
    font-family:TCM;
}

.bottom_line{
    width: 100%;
    height: 20px;
    background-color: #861b3d;
}

.door_access{
    margin-top: 1rem;
}

.door_access h4{
    font-weight: 500;
    font-size: 20px;
    font-family:winfsoft;
    color:#3A3A3A;
}

.door_access p{
    font-weight: 500;
    font-size: 18px;
    font-family:TCM;
    color:#3A3A3A;
    line-height:22px;
}

.fp-tableCell{
    height: 0!important;
}

.sidebar{
    z-index: 9999;
}

.owl-nav{
    display: none;
}
.owl-dots {
    text-align: center;
}
.owl-carousel button.owl-dot{
    width: 20px;
    height: 20px;
    border: 2px solid #000!important;
    border-radius: 50%;
    margin: 20px;
}

.owl-carousel .item img{
    height: 375px;
}


#carouselExampleIndicators2 .carousel-item img{
    height: 600px;
}



#carouselExampleIndicators2 .carousel-control-next,
#carouselExampleIndicators2 .carousel-control-prev{
top: none;
bottom: 30px;
top:auto;
}

.fp-tableCell{
    height:100%;
    vertical-align:middle;
}

/*.section{*/
/*    min-height:100vh;*/
/*}*/
.section{
    display:flex;
    justify-content:center;
    align-items:center;
}

.slider {
    display:block;
}

#wiring .Smart_Door_right img{
    width: 50%!important;
    margin: 0px auto;
}



@media screen and (min-width:1901px) and (max-width:1921px){
    
    .vedio_container > video{
        height: 225px;
    }
    
    .home_system_main_left ul li{
        margin-bottom:10px;
    }
}

@media screen and (min-width:1439px) and (max-width:1900px){
    
    .home_system_main_left ul li{
        margin-bottom: 0px;
        font-size: 20px;

    }
    .vedio_container > video{
        height: 287px;
    }
}

/*@media screen and ( max-width:1600px){*/
    
/*    .home_system_main_left ul li{*/
/*        margin-bottom: 15px;*/
/*        font-size: 18px;*/

/*    }*/
/*    .vedio_container > video{*/
/*        height: 409px;*/
/*    }*/
/*}*/

@media screen and (max-width:1400px){
    
    .home_system{
    padding-top: 0rem;
}
    .service-list{
        grid-template-columns: repeat(4, 1fr);
    }
    .vedio_container > video{
        height: 288px;
    }
    .lighting_wrapper .head_wrapper {
        align-items: center;
    }

    .home_theater_wrapper .head_wrapper .round_service{
        width: 100%;
    }
    .home_theater_wrapper{
        padding-top: 3rem;
    }
    .sidebar ul li{
        padding: 15px;
    }
    .home_system_right_head video{
        height: 100%;
    }
    
    .sidebar{
        top:4%;
    }
    .sidebar ul li{
    list-style: none;
    margin: 0px 0px;
    padding:5px;
   }
   .sidebar img {
    width: 95px;
    height: 95px;
}
.bottom_video_list{
    margin-top: 1.5rem;
}

/*#carouselExampleIndicators2{*/
/*    width:95%!important;*/
/*    margin-left:auto;*/
/*}*/
.head_wrapper img{
    width:200px;
}

#carouselExampleIndicators2 .carousel-item img{
       height: 500px;
}

.logo_list img{
        width: 260px;
    height: 85px;
}

/*#wiring .Smart_Door_right img{*/
/*    height:500px;*/
/*}*/
}

@media screen and (max-width:1200px){
    
    .service-list{
        grid-template-columns: repeat(3, 1fr);
    }
    .home_system_main> .row{
        display: flex;
        align-items: center;
    }

    .home_theater_wrapper .head_wrapper .round_service{
        height: 225px;
    }

    .round_service{
        width: 250px;
        height: 225px;
    }

    .parter-list{
        grid-template-columns: repeat(3, 1fr);
    }
    .slider .carousel-item img{
        min-height: 80vh;
    }
    #carouselExampleIndicators2 .carousel-item img{
        height:450px;
    }
    
    
.home_system{
    padding-top: 3rem;
}
#smart_door{
    margin-top:5rem;
}
#carouselExampleIndicators2{
    float:none;
    width:85%!important;
        margin-left: auto;
}
.smart_door_box img{
    width:100%;
}

.head_wrapper img{
    width:230px;
}
/*.Smart_Door_right img {*/
/*    width: 100%;*/
/*    height: 450px;*/
/* }*/
 
 .bottom_title h4,
 .home_system_right_head h4{
     font-size:1.1rem;
 }
 .right_header h3{
     margin-right:0px;
     font-size: 24px!important;
 }
 
 #services .service_wrapper{
     margin-top: 4rem;
 }
}

@media screen and (max-width:1024px){
    .service-list{
        grid-template-columns: repeat(2, 1fr);
    }

    .home_system_right_head video{
        min-height: 425px;
        object-fit: cover;
    }
    .audio_video_wrapper{
        padding-top: 0rem;
    }
    .slider .carousel-item img{
        min-height: 65vh;
    }
    #wiring .head_wrapper img{
        position:relative;
        bottom:11rem;
    height:100%;
    }
     #services .service_wrapper{
     margin-top: 0rem;
 }
  #wiring .Smart_Door_right img {
    width: 100%;
    height: 100%;
 }
 
 .home_theater_wrapper{
     padding-top: 0rem;
 }
 
 #parter{
         margin-top: -7rem;
 }

}

@media screen and (max-width: 768px){
    
    .lighting_wrapper .head_wrapper{
        display: flex;
        flex-direction: column;
    }
    .home_system_right_head video{
        bottom: 0px;
    }
    .bottom_title_wrapper{
        padding-right: 15px;
    padding-left: 15px;
    }

    .lighting  .bottom_title{
        position: relative;
        left: -7px;
    }

    .parter-list{
        grid-template-columns: repeat(2, 1fr);
    }

    .row h4{
        font-size: 20px;
    }

   .lighting .round_service{
       margin-bottom: 1rem;
   }

   .home_theater_wrapper .col-lg-3{
       display: flex!important;
       margin-bottom: 2rem!important;
       align-items:center;
   }

   .home_theater_wrapper .row .logo_box_container{
       width: 70%;
   }

   .logo_list{
       display: flex;
       justify-content: space-around;
   }

    .cctv  .cicle_bottom,
    .wiring .cicle_bottom{
        position: relative!important;
        padding-left: 20px;
    }
    .wiring .col-lg-4{
        display: flex;
        margin-bottom: 2rem;
    }
    .wiring .col-lg-4{
        display: block;
    }
    .right_header h3{
        font-size: 24px!important;
    }
     .slider .carousel-item img{
        min-height: 50vh;
    }
    .sidebar{
        right:0;
    }
    
    .logo_list{
        flex-direction:column;
        align-items:center;
    }
    
    .wiring .head_wrapper{
        text-align:center;
    }
    #carouselExampleIndicators2{
        width:100%!important;
    }
    .home_theater_wrapper{
        padding-top:5rem;
    }
  
    .section_2_bg{
        margin-top:3rem;
    }
    #guest_room .container{
        padding-top:3rem;
    }
    
    .smart_door_wrapper{
        padding-top: 8rem;
    }
    
    #cctv .head_wrapper{
        text-align:center;
    }
    
    .Smart_Door_right img{
        height:345px;
    }
    .parter_heading,
    .service_head h3{
        font-size:24px;
    }
    .row h4{
        font-size:18px;
    }
    
    .home_system_main_left{
            margin-bottom: 2rem;
    }
    
    .home_system_main > .row > .col-lg-7{
        padding:0px;
    }
    
    #wiring .head_wrapper img{
        bottom: 0rem;
    }
    
    #wiring .head_wrapper{
        margin-top: 5rem;
    }
    .parter_heading{
            margin-top: 10rem;
    }
    
     #parter{
         margin-top: 0rem;
 }
}

@media screen and (max-width:767px){
    .sidebar{
        display: none;
    }
   
.service-list {
    grid-template-columns: repeat(1, 1fr);
   }
   .parter-list{
        grid-template-columns: repeat(1, 1fr);
    }
     .slider .carousel-item img{
        min-height: 38vh;
    }
    #carouselExampleIndicators2 .carousel-item img{
        height:350px;
    }
}

@media screen and (max-width:425px){
    .right_header h3{
        margin-right:0px;
    }
    
    .head_wrapper img{
        width:170px;
    }
    .logo_box_container{
        padding-top:1rem;
    }
   #home_theater .head_wrapper{
       text-align:center;
   }
   
   #carouselExampleIndicators2{
       margin:0px;
   }
   .Smart_Door_right img{
       height:100%;
   }
   .cctv .cicle_bottom, .wiring .cicle_bottom{
       padding:0px;
   }
    #home_theater .round_service,
    .cctv .round_service,
    .wiring .round_service{
        width: 200px;
        height:200px;
    }

    
    .service-list{
        grid-template-columns: repeat(1, 1fr);
    }

    .parter-list{
        grid-template-columns: repeat(1, 1fr);
    }

    .container{
        max-width: 95vw!important;
        margin: auto;
    }

    .round_service{
        width: 180px;
    height: 175px;
    }

    .round_service h3{
        font-size: 16px;
    margin-top: 10px;
    text-align: center;
    line-height: normal;
    }

    .home_system_right_head h4{
        font-size: 18px;
    }

    .service_1{
        min-height: 175px;
    }
    .service_1 h3{
        text-align: center;
        margin-top: 18px;
        text-transform: capitalize;
        font-size: 20px;
    }

    .header_container .col-md-6{
        text-align: center;
    }

    .right_header h3 {
        font-size: 20px;
        text-align: center;
    }
    .home_theater_wrapper .col-lg-3{
        display: block!important;
    }

    .home_theater_wrapper .head_wrapper .round_service{
        width: 180px;
    height: 175px;
    margin: auto;
    }
    .home_theater_wrapper .row .logo_box_container{
        margin: auto;
        width: 100%;
    }
    .cctv .round_service{
        margin: auto;
    }
    .round_service{
        margin: auto;
    }
    .home_system_right_head video{
        min-height: 350px;
        margin-top:5rem;
        bottom: 80px;
    }
    
    .vedio_container > video{
        height: 300px;
    }
    .audio_video_box h4,
    .audio_video_box h5{
        text-align: center;
    }
    .audio_video_box h5{
        margin-bottom: 2rem;
    }
    
    .service_head h3{
        font-size:20px;
    }
    
    .home_theater_wrapper{
       padding-top: 18rem;
    }
    #smart_door .head_wrapper{
        margin-top:8rem;
    }
    #wiring .head_wrapper{
            margin-top: 3rem;
    }
    .parter_heading{
            margin-top: 5rem;
    }
}

@media screen and (max-width: 360px){
    .home_theater_wrapper{
       padding-top: 22rem;
    }
    #smart_door .head_wrapper{
        margin-top:10rem;
    }
}
.con{
    margin-left:10%;
      width: 80%;  
}
@media (max-width: 500px){
    .con{
        margin-left:0;
        width: 100%;    
    }
